{% extends 'base_box.html' %}

{% block title %}Uitgelogd{% endblock %}

{% block box %}
<h2 class="card-title">Uitgelogd</h2>
<p><a href="{% url 'login'%}">Klik hier om naar de inlogpagina te gaan.</a></p>
{% endblock box %}