{% extends "base_box.html" %}
{% load activiteiten_extras %}
{% load static %}


{% block title %}Login{% endblock %}

{% block box %}
<h2 class="card-title">Weekoverzicht - Login</h2>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <p>Onjuiste gebruikersnaam of wachtwoord; probeer het opnieuw.</p>
</div>
{% endif %}

{% if next %}
<div class="alert alert-danger" role="alert">
{% if user.is_authenticated %}
<p>Je hebt geen toegangsrechten voor deze pagina.</p>
{% else %}
<p>Je moet inloggen om deze pagina te kunnen zien.</p>
{% endif %}
</div>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username|add_class:'form-control' }}
    </div>
    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password|add_class:'form-control' }}
    </div>
    <input class="btn btn-primary" type="submit" value="login"/>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Wachtwoord vergeten?</a></p>

{% endblock box %}
