@page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body, p, td, th {
    font-size: .9rem
}

.text-muted {
    color: #868e96!important;
}

.navbar {
    display: block;
    padding: 0;
}

.bg-light {
    background-color: white!important;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-top-color: #32383e!important;
}

.table-dark, .table-dark>td, .table-dark>th {
    background-color: #c6c8ca!important;
}

.table td, .table th {
    padding: .3rem;
    border: 1px solid #dee2e6;
}

.container {
    margin: 0;
    padding: 1cm;
    max-width: 21cm;
}