{% extends "base.html" %}
{% load activiteiten_extras %}
{% load static %}

{% block title %}Kalender{% endblock %}

{% block extralibs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js" integrity="sha384-GPligswvOLCOo9AeufDvfNbxoU0Ua1QHJ9tGse9bJ2B5/J3rcRzVz/lqQ0WcaOaf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js" integrity="sha384-ZqOG6izTwgoaHVEHLwJ1XZcBCbMEan0JwgED3SarMt7BJHKXzzGCbW+xLb3s1lRl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" integrity="sha384-jOGBQYai8aMCJFsa1zEG6JFMz6LlnCiFnmDNv+fKlwqAEjFud0kJuCQHLWhXU6xo" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" integrity="sha384-Tkthu0AGB6QfU+FBA1n/6ExgfaQ2UMBXlaFaY8fVj70AgQEuRUP3oIKmmwZnAhIW" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.min.js" integrity="sha384-q+vfG1GVj7CLLSLCQYEIeN/8CfxF8CNjf8Pg8Ic/va19bLLbBwUWuUTuzacmHrj0" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{%  static 'activiteiten/css/select2-bootstrap4.css' %}"/>

<style type="text/css">
{# Fix for tempusdominus datetimepicker widget overflowing when week numbers are displayed. #}
.bootstrap-datetimepicker-widget {
    width: auto !important
}
</style>

<script>
</script>
{% endblock %}

{% block content %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% with ws=weeknummer|stringformat:"s" %}
        {% with title="Kalender" %}
            {% include "./components/brand.html" with title=title van_datum=van_datum tot_datum=tot_datum %}
        {% endwith %}
        {% endwith %}

        {% include "./components/nav-list.html" with current_slug='kalender' %}

        <div class="d-print-none" id="weeknavigatie">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#datums_aanpassen"
                       aria-expanded="false" aria-controls="datums_aanpassen">
                        <i class="fa fa-filter fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="collapse" id="datums_aanpassen">
        <div class="card card-body">
            <form class="form" id="datums_form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="datum_van">Van:</label>
                    <div class="col-sm-10 input-group date" id="datum_van" data-target-input="nearest">
                        <input type="text" id="datum_van_text" class="form-control datetimepicker-input"
                               data-target="#datum_van" value="{{van_datum|date:'Y-m-d'}}"/>
                        <div class="input-group-append" data-target="#datum_van" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar fa-lg"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="datum_tot">tot en met:</label>
                    <div class="col-sm-10 input-group date" id="datum_tot" data-target-input="nearest">
                        <input type="text" id="datum_tot_text" class="form-control datetimepicker-input"
                               data-target="#datum_tot" value="{{tot_datum|date:'Y-m-d'}}"/>
                        <div class="input-group-append" data-target="#datum_tot" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar fa-lg"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="categorieen">Categorieën:</label>
                    <div class="col-sm-10 input-group">
                        <select id="categorieen" style="width: 100%">
                            {% for cat in categorieen  %}
                                 <option value="{{ cat.id }}" selected="selected">{{ cat.omschrijving }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="btn_toepassen">
                            <i class="fa fa-filter"></i> Filter toepassen
                        </button>
                        <button type="submit" class="btn" id="btn_reset_filter">
                            <i class="fa fa-ban"></i> Filter resetten
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if activiteiten %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th colspan="2">Datum</th>
            <th>Tijd</th>
            <th>Activiteit</th>
            <th>Ruimte/Locatie</th>
        </tr>
        </thead>
        {% regroup activiteiten|dictsort:"datum" by weeknummer as week_grouped %}
        {% for week in week_grouped %}
            <tr class="table-dark">
                <td colspan="5">Week {{ week.list.0.datum|date:"W" }}</td>
            </tr>
            {% regroup week.list by datum as dag_grouped %}
            {% for dag in dag_grouped %}
                {% with bijzondere_dag=bijzondere_dagen|filterholidays:dag.list.0.datum %}
                {% for activiteit in dag.list %}
                    {% with bijzondere_rijen=bijzondere_dag|length|min:1 %}
                    {% with dag_rijen=dag.list|length|add:bijzondere_rijen %}
                    {% ifchanged %}
                        <tr>
                            <td style="white-space: nowrap;" rowspan="{{ dag_rijen }}">{{activiteit.datum|date:"D"}}</td>
                            <td style="white-space: nowrap;" rowspan="{{ dag_rijen }}">{{activiteit.datum|date:"d b Y"}}</td>
                            {% if bijzondere_rijen > 0 %}
                                <td colspan="3" class="table-info">
                                {% for bijzonder in bijzondere_dag %}
                                    {{bijzonder.omschrijving}}
                                    {% if bijzonder.einddatum %}
                                        ({{bijzonder.startdatum}} - {{bijzonder.einddatum}})
                                    {% endif %}<br/>
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                            {% endif %}
                    {% else %}
                        <tr>
                    {% endifchanged %}
                    {% endwith %}
                    {% endwith %}
                    <td style="white-space: nowrap;">
                        {{activiteit.starttijd|default_if_none:""}} - {{activiteit.eindtijd|default_if_none:""}}
                    </td>
                    <td>
                        {{activiteit.omschrijving}} {% if activiteit.personen %}{{activiteit.wie}}{% endif %}
                        {% for cat in activiteit.categorieen.all %}
                            <a href="javascript:applyFilter('{{ cat }}')" class="badge badge-secondary float-right ml-1 align-middle" >
                                {{ cat }}
                            </a>
                        {% endfor %}
                        {% if activiteit.opmerkingen %}<br/><i>{{activiteit.opmerkingen}}</i>{% endif %}
                    </td>
                    <td>{{activiteit.waar|default_if_none:""}}</td>
                </tr>
                {% endfor %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </table>
    {% else %}
    <p>Geen activiteiten.</p>
    <script type="text/javascript">
        $("#datums_aanpassen").show()
    </script>
    {% endif %}
</div>

<script type="text/javascript">

categorieen_selector = $('#categorieen');
categorieen_selector.select2({
    theme: "bootstrap4",
    multiple: true,
    ajax: {
        url: "{% url 'categorie-autocomplete' %}",
        dataType: 'json'
    }
});

{# The following line is needed, because select2 seems to show only the first of the pre-filled #}
{# <option> elements otherwise. #}
categorieen_selector.val([{% for cat in categorieen %}'{{ cat.id }}',{% endfor %}]).trigger('change');

$("#btn_reset_filter").on("click", function(e) {
    $('#datums_form').attr('action', "/kalender/").submit();
});

$("#btn_toepassen").on("click", function(e) {
    e.preventDefault();
    var cats = $('#categorieen').select2('data').map(function (e) {
        return e.text
    });
    applyFilter(cats.join("/"));
});

function applyFilter(categorieen) {
    var datum_van = $('#datum_van_text').val();
    var datum_tot = $('#datum_tot_text').val();
    var cats = $('#categorieen').select2('data').map(function (e) {
        return e.text
    });
    $('#datums_form').attr('action', "/kalender/" + datum_van + "/" + datum_tot + "/" + categorieen).submit();
}

datepicker_properties = {
    locale: 'nl',
    format: 'YYYY-MM-DD',
    calendarWeeks: true,
    debug: true,
    icons: {
        next: 'fa fa-chevron-circle-right',
        previous: 'fa fa-chevron-circle-left'
    },
    keepOpen: false,
    buttons: {
        showToday: true,
        showClose: true
    },
    useCurrent: false,
    tooltips: {
        today: 'Ga naar vandaag',
        clear: 'Wis selectie',
        close: 'Sluit datumselectie',
        selectMonth: 'Selecteer maand',
        prevMonth: 'Vorige maand',
        nextMonth: 'Volgende maand',
        selectYear: 'Selecteer jaar',
        prevYear: 'Vorig jaar',
        nextYear: 'Volgend jaar',
        selectDecade: 'Selecteer decennium',
        prevDecade: 'Vorig decennium',
        nextDecade: 'Volgend decennium',
        prevCentury: 'Vorige eeuw',
        nextCentury: 'Volgende eeuw',
        incrementHour: 'Uur meer',
        pickHour: 'Kies uur',
        decrementHour: 'Uur minder',
        incrementMinute: 'Minuut meer',
        pickMinute: 'Kies minuut',
        decrementMinute: 'Minuut minder',
        incrementSecond: 'Seconde meer',
        pickSecond: 'Kies seconde',
        decrementSecond: 'Seconde minder'
    },
    allowInputToggle: true
};

datum_van_component = $('#datum_van');
datum_tot_component = $('#datum_tot');
datum_van_component.datetimepicker(datepicker_properties);
datum_tot_component.datetimepicker(datepicker_properties);

datum_van_component.on("change.datetimepicker", function (e) {
    datum_tot_component.datetimepicker('minDate', e.date);
});

datum_tot_component.on("change.datetimepicker", function (e) {
    datum_van_component.datetimepicker('maxDate', e.date);
});

</script>
{% endblock %}