{% extends "base.html" %}
{% load activiteiten_extras %}

{% block title %}{{taak.omschrijving}}{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min.js"
        type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/css/gijgo.min.css" rel="stylesheet"
      type="text/css"/>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% with ws=weeknummer|stringformat:"s" %}
        {% with title=taak.omschrijving %}
            {% include "./components/brand.html" with title=title van_datum=van_datum tot_datum=tot_datum %}
        {% endwith %}
        {% endwith %}

        {% include "./components/nav-list.html" with current_slug='taak' %}

        <div class="d-print-none" id="weeknavigatie">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#datums_aanpassen"
                       aria-expanded="false" aria-controls="datums_aanpassen">Datumbereik aanpassen</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="collapse" id="datums_aanpassen">
        <div class="card card-body">
            <form class="form" id="datums_form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="datum_van">Van:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="datum_van" placeholder="Datum vanaf"
                               value="{{van_datum|date:'Y-m-d'}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="datum_tot">tot en met:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="datum_tot" placeholder="Datum t/m"
                               value="{{tot_datum|date:'Y-m-d'}}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="btn_toepassen">Toepassen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if taak_uitvoeringen %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th colspan="2">Datum</th>
                <th>Wie</th>
            </tr>
        </thead>
        <tbody>
        {% for taak_uitvoering in taak_uitvoeringen %}
            {% with bijzondere_dag=bijzondere_dagen|filterholidays:taak_uitvoering.datum %}
            {% with rijen=bijzondere_dag|length|min:1|add:1 %}
            <tr>
                <td style="white-space: nowrap;" rowspan="{{ rijen }}">{{taak_uitvoering.datum|date:"D"}}</td>
                <td style="white-space: nowrap;" rowspan="{{ rijen }}">{{taak_uitvoering.datum|date:"d b Y"}}</td>
                {% if rijen > 1 %}
                    <td class="table-info">
                    {% for bijzonder in bijzondere_dag %}
                        {{bijzonder.omschrijving}}
                        {% if bijzonder.einddatum %}
                            ({{bijzonder.startdatum}} - {{bijzonder.einddatum}})
                        {% endif %}<br/>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                {% endif %}

                <td>{{taak_uitvoering.wie}}</td>
            </tr>
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if activiteiten %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th colspan="2">Datum</th>
            <th>Tijd</th>
            <th>Wie</th>
            <th>Ruimte/Locatie</th>
        </tr>
        </thead>

        {% regroup activiteiten|dictsort:"datum" by datum as dag_grouped %}
        {% for dag in dag_grouped %}
            {% with bijzondere_dag=bijzondere_dagen|filterholidays:dag.list.0.datum %}
            {% for activiteit in dag.list %}
                {% with bijzondere_rijen=bijzondere_dag|length|min:1 %}
                {% with dag_rijen=dag.list|length|add:bijzondere_rijen %}
                {% ifchanged %}
                    <tr>
                        <td style="white-space: nowrap;" rowspan="{{ dag_rijen }}">{{activiteit.datum|date:"D"}}</td>
                        <td style="white-space: nowrap;" rowspan="{{ dag_rijen }}">{{activiteit.datum|date:"d b Y"}}</td>
                        {% if bijzondere_rijen > 0 %}
                            <td colspan="3" class="table-info">
                            {% for bijzonder in bijzondere_dag %}
                                {{bijzonder.omschrijving}}
                                {% if bijzonder.einddatum %}
                                    ({{bijzonder.startdatum}} - {{bijzonder.einddatum}})
                                {% endif %}<br/>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                        {% endif %}
                {% else %}
                    <tr>
                {% endifchanged %}
                {% endwith %}
                {% endwith %}
                <td style="white-space: nowrap;">{{activiteit.starttijd}} - {{activiteit.eindtijd}}</td>
                <td>{% if activiteit.personen %}{{activiteit.wie}}{% endif %}</td>
                <td>{{activiteit.waar}}</td>
            </tr>
            {% endfor %}
            {% endwith %}
        {% endfor %}
    </table>
    {% endif %}
</div>

<script type="text/javascript">
$("#btn_toepassen").on("click", function(e){
    e.preventDefault();
    datum_van = $('#datum_van').val();
    datum_tot = $('#datum_tot').val();
    $('#datums_form').attr('action', "/taak/{{taak.slug}}/" + datum_van + "/" + datum_tot + "/").submit();
});
$('#datum_van').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'yyyy-mm-dd',
    weekStartDay: 1,
    maxDate: function () {
        return $('#datum_tot').val();
    },
    width: 250
});
$('#datum_tot').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'yyyy-mm-dd',
    weekStartDay: 1,
    minDate: function () {
        return $('#datum_van').val();
    },
    width: 250
});

</script>
{% endblock %}