{% extends "base.html" %}
{% load activiteiten_extras %}

{% block title %}Weekoverzicht week {{weeknummer}}{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% with ws=weeknummer|stringformat:"s" %}
        {% with title="Weekoverzicht week "|add:ws %}
            {% include "./components/brand.html" with title=title van_datum=van_datum tot_datum=tot_datum %}
        {% endwith %}
        {% endwith %}

        {% include "./components/nav-list.html" with current_slug='weekoverzicht' %}

        <div class="d-print-none" id="weeknavigatie">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weekoverzicht' vorige.jaar vorige.weeknummer %}">
                        <span class="fa fa-chevron-circle-left" title="week terug" aria-hidden="true"></span>
                        <span class="d-none d-sm-inline">&nbsp;week terug</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weekoverzicht' volgende.jaar volgende.weeknummer %}">
                        <span class="d-none d-sm-inline">week verder&nbsp;</span>
                        <span class="fa fa-chevron-circle-right" title="week verder" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% if activiteiten %}
    <table class="table table-hover d-none d-lg-table d-print-table">
        <thead>
            <tr>
                <th colspan="2">Dag</th>
                <th>Activiteit</th>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Ruimte/Locatie</th>
            </tr>
        </thead>
        <tbody>
        {% regroup activiteiten|dictsort:"datum" by datum as grouped %}
        {% for dag in grouped %}
            {% with taken=taak_uitvoeringen|filterbydate:dag.list.0.datum %}
            {% with bijzondere_dag=bijzondere_dagen|filterholidays:dag.list.0.datum %}
            {% for activiteit in dag.list %}
                <tr>
                    {% with taak_rijen=taken|length|min:1 %}
                    {% with bijzondere_rijen=bijzondere_dag|length|min:1 %}
                    {% with dag_rijen=dag.list|length|add:taak_rijen|add:bijzondere_rijen %}
                    {% ifchanged %}
                        <th scope="row" rowspan="{{ dag_rijen }}" class="text-nowrap">{{activiteit.datum|date:"D"}}</th>
                        <th scope="row" rowspan="{{ dag_rijen }}" class="text-nowrap">{{activiteit.datum|date:"j b"}}</th>
                        {% if bijzondere_rijen > 0 %}
                            <td colspan="4" class="table-info">
                            {% for bijzonder in bijzondere_dag %}
                                {{bijzonder.omschrijving}}
                                {% if bijzonder.einddatum %}
                                    ({{bijzonder.startdatum}} - {{bijzonder.einddatum}})
                                {% endif %}<br/>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                        {% endif %}
                        {% if taak_rijen > 0 %}
                            <td colspan="4" class="text-muted">
                            {% for taak_uitvoering in taken %}
                                <i>{{taak_uitvoering.taak.omschrijving}}: {{taak_uitvoering.wie}}</i><br/>
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                        {% endif %}
                    {% endifchanged %}

                    <td>
                        {{activiteit.omschrijving}} {% if activiteit.personen %}{{activiteit.wie}}{% endif %}
                        {% if activiteit.opmerkingen %}<br/><i>{{activiteit.opmerkingen}}</i>{% endif %}
                    </td>
                    <td>{{activiteit.starttijd|default_if_none:""}}</td>
                    <td>{{activiteit.eindtijd|default_if_none:""}}</td>
                    <td>{{activiteit.waar|default_if_none:""}}</td>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    <div class="d-lg-none d-print-none">
        {% regroup activiteiten|dictsort:"datum" by datum as grouped %}
        {% for dag in grouped %}
            {% with taken=taak_uitvoeringen|filterbydate:dag.list.0.datum %}
            {% with bijzondere_dag=bijzondere_dagen|filterholidays:dag.list.0.datum %}
            {% for activiteit in dag.list %}

                    {% with taak_rijen=taken|length|min:1 %}
                    {% with bijzondere_rijen=bijzondere_dag|length|min:1 %}
                    {% with dag_rijen=dag.list|length|add:taak_rijen|add:bijzondere_rijen %}
                    {% ifchanged %}
                    <div class="card mt-2" style="width: 100%;">
                      <h5 class="card-header">{{activiteit.datum|date:"l j E"}}</h5>
                        {% if bijzondere_rijen > 0 or taak_rijen > 0%}
                          <div class="card-body">
                        {% endif %}
                        {% if bijzondere_rijen > 0 %}
                            <p class="card-text text-info">
                            {% for bijzonder in bijzondere_dag %}
                                {{bijzonder.omschrijving}}
                                {% if bijzonder.einddatum %}
                                    ({{bijzonder.startdatum}} - {{bijzonder.einddatum}})
                                {% endif %}
                                {% if not forloop.last %}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}

                        {% if taak_rijen > 0 %}
                            <p class="card-text">
                            {% for taak_uitvoering in taken %}
                                <i>{{taak_uitvoering.taak.omschrijving}}: {{taak_uitvoering.wie}}</i><br/>
                            {% endfor %}
                            </p>
                        {% endif %}
                        {% if bijzondere_rijen > 0 or taak_rijen > 0%}
                          </div>
                        {% endif %}

                    <ul class="list-group list-group-flush">
                    {% endifchanged %}

                        <li class="list-group-item">
                            {{activiteit.omschrijving}} {% if activiteit.personen %}{{activiteit.wie}}{% endif %}
                            <br/>
                            {% if activiteit.opmerkingen %}<i>{{activiteit.opmerkingen}}</i><br/>{% endif %}
                            {{activiteit.starttijd|default_if_none:""}}{% if activiteit.eindtijd %} - {% endif %}{{activiteit.eindtijd|default_if_none:""}},
                            <span class="text-muted">{{activiteit.waar|default_if_none:""}}</span>
                        </li>

                    {% ifchanged %}
                    {% endifchanged %}

                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
            {% endfor %}
            </ul>
            </div>

            {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
    {% else %}
    <p>Geen activiteiten.</p>
    {% endif %}
</div>
{% endblock %}