<span class="navbar-brand mb-0 h1">{{title}}<br/>
    <small class="text-muted">{{van_datum|date:"j F Y"}} &#45; {{tot_datum|date:"j F Y"}}</small>
</span>
<button class="navbar-toggler d-print-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
