{% load activiteiten_extras %}

<div class="collapse navbar-collapse d-print-none" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% include "./nav-item.html" with active=current_slug|equals:'weekoverzicht' slug='weekoverzicht' name='Weekoverzicht' %}
        {% include "./nav-item.html" with active=current_slug|equals:'kalender' slug='kalender' name='Kalender' %}
        {% if taken|length > 0 %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Indelingen
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for taak in taken %}
                <a class="dropdown-item" href="/taak/{{taak.omschrijving|slugify}}/">{{taak.omschrijving}}</a>
                {% endfor %}
            </div>
            </li>
        {% if request.user.is_staff %}
            {% include "./nav-item.html" with active=False slug='admin' name='Beheer' %}
        {% endif %}
        {% include "./nav-item.html" with active=False slug='accounts/logout' name='Uitloggen' %}
        {% endif %}
    </ul>
</div>
