{% extends 'base.html' %}
{% load static %}

{% block title %}Uitgelogd{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col">
        <div class="card bg-light mx-auto" style="max-width: 500px">
            <img class="card-img-top mt-3 mx-auto" style="width: 260px" src="{% static 'weekoverzicht/img/apgen-logo.png' %}" alt="Apostolisch Genootschap">
            <div class="card-body">
                {% block box %}
                <h2 class="card-title">Uitgelogd</h2>
                <p><a href="{% url 'login'%}">Klik hier om naar de inlogpagina te gaan.</a></p>
                {% endblock box %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}